<!DOCTYPE html>
<html lang="en" layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Bercário Virtual</title>
</head>
<body>

<h1 layout:fragment="mensagem">Bercário Virtual</h1>

<section class="home" layout:fragment="body">
    <table>
        <tr>
            <th>Nome</th>

            <th>Mamãe</th>
            <th>Papai</th>
        </tr>
        <tr th:each="bebe : ${bebes}">
            <td th:text="*{nome}"></td>
            <td th:text="*{parturiente.nome}"></td>
            <td th:text="*{nomedoPai}"></td>
        </tr>
    </table>
</section>

<script layout:fragment="script">

    </script>

</body>
</html>
