<!DOCTYPE html>
<html lang="en" layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Home Médico</title>
</head>
<body>

<h1 layout:fragment="mensagem" >Bem-vindo, Médico! </h1>

<section class="home" layout:fragment="body">
    <a th:href="@{/medico/paciente/new}">Cadastrar Paciente</a> <br />
    <a th:href="@{/medico/bebe/new}">Cadastrar Bebe</a>
    <a th:href="@{/medico/pacientes/listagem}">Listagem de Pacientes</a> <br />
</section>

<script layout:fragment="script">

    </script>

</body>
</html>
