<!DOCTYPE html>
<html lang="en" layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h1 layout:fragment="mensagem" >LOGIN</h1>

<section class="home" layout:fragment="body">


    <form th:action="@{/login}" method="POST">

        Login <input type="text" id="username" name="username"/><br />
        Senha <input type="password" id="password" name="password" /><br />

        <button type="submit">Entrar</button>

    </form>


</section>

<script layout:fragment="script">

</script>

</body>
</html>