<!DOCTYPE html>
<html lang="en" layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
<h1 layout:fragment="mensagem">Novo Paciente</h1>

<section class="home" layout:fragment="body">
    <form th:action="@{/medico/paciente/save}" method="POST" th:object="${parturiente}">
        <label>Nome</label>
        <input type="text" th:field="*{nome}"/><br/>

        <label>Id</label>
        <input type="text" th:field="*{id}"/>

        <label>Login</label>
        <input type="text" th:field="*{login}"/><br/>

        <label>Senha</label>
        <input type="text" th:field="*{senha}"/><br/>
        <label>Bebê</label>
<!--        <input type="text" th:field="*{bebe.id}"/><br/>-->
        <select id="cpBebe" th:field="*{bebes}" >
            <option th:each="beb : ${bebes}"
                    th:value="${beb}" th:text="${beb}">
            </option>
        </select> <br/>
        <label>Acompanhante</label>
        <input type="text" th:field="*{acompanhante.id}"/><br/>

        <label>Médico</label>
        <input type="text" th:field="*{medicos.id}"/><br/>

        <button type="submit">Salvar</button>
    </form>
</section>

<script layout:fragment="script">
</script>

</body>
</html>
